# Variables d'authentification Google Drive
NEXT_PUBLIC_GOOGLE_CLIENT_ID=votre_client_id
GOOGLE_CLIENT_SECRET=votre_client_secret
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3000/drive/auth/callback

# Variables de chiffrement des tokens
TOKEN_ENCRYPTION_KEY=une_clé_secrète_pour_chiffrer_les_tokens

# Autres variables
NODE_ENV=development
